<template name="components">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="biz-card">
        <div class="cover">
          <img src="/cover.jpg" alt="Cover" class="img-responsive">
        </div>
        <div class="photo">
          <img src="/photo.jpg" alt="Photo" class="img-responsive">
        </div>
        <div class="modes">
          <a class="btn btn-default" role="button">EDIT</a>
        </div>
        <div class="intro">
          <h4>Headshot Film Crew</h4>
          <p>The Headshot Crew photographer community is a rockin place for portrait photographers to hone their craft in headshotland.</p>
        </div>
        <div class="stats">
          <ul class="list-unstyled">
            <li><p>Diklik <span>124</span></p></li>
            <li><p>Dilihat <span>56</span></p></li>
            <li><p>Dibookmark <span>17</span></p></li>
            <li><p>Direkomendasi <span>10</span></p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="biz-chats">
        <ul class="list-unstyled">
          <li>
            <a class="media">
              <div class="media-left">
                <div>
                  <img class="media-object" src="/photo.jpg" alt="Photo">
                </div>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading">Chat 1</h4>
                <p><span>Me</span> : <span>Lalalalalala</span></p>
                <p class="time"><span class="glyphicon glyphicon-time"></span> 08:00</p>
              </div>
            </a>
          </li>
          <li>
            <a class="media">
              <div class="media-left">
                <div>
                  <img class="media-object" src="/photo.jpg" alt="Photo">
                </div>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading">Chat 2</h4>
                <p><span>Me</span> : <span>Lalalalalala</span></p>
                <p class="time"><span class="glyphicon glyphicon-time"></span> 08:00</p>
              </div>
            </a>
          </li>
          <li>
            <a class="media">
              <div class="media-left">
                <div>
                  <img class="media-object" src="/photo.jpg" alt="Photo">
                </div>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading">Chat 3</h4>
                <p><span>Me</span> : <span>Lalalalalala</span></p>
                <p class="time"><span class="glyphicon glyphicon-time"></span> 08:00</p>
              </div>
            </a>
          </li>
          <li>
            <a class="media">
              <div class="media-left">
                <div>
                  <img class="media-object" src="/photo.jpg" alt="Photo">
                </div>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading">Chat 4</h4>
                <p><span>Me</span> : <span>Lalalalalala</span></p>
                <p class="time"><span class="glyphicon glyphicon-time"></span> 08:00</p>
              </div>
            </a>
          </li>
          <li>
            <a class="media">
              <div class="media-left">
                <div>
                  <img class="media-object" src="/photo.jpg" alt="Photo">
                </div>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading">Chat 5</h4>
                <p><span>Me</span> : <span>Lalalalalala</span></p>
                <p class="time"><span class="glyphicon glyphicon-time"></span> 08:00</p>
              </div>
            </a>
          </li>
          <li>
            <a class="media">
              <div class="media-left">
                <div>
                  <img class="media-object" src="/photo.jpg" alt="Photo">
                </div>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading">Chat 6</h4>
                <p><span>Me</span> : <span>Lalalalalala</span></p>
                <p class="time"><span class="glyphicon glyphicon-time"></span> 08:00</p>
              </div>
            </a>
          </li>
          <li>
            <a class="media">
              <div class="media-left">
                <div>
                  <img class="media-object" src="/photo.jpg" alt="Photo">
                </div>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading">Chat 7</h4>
                <p><span>Me</span> : <span>Lalalalalala</span></p>
                <p class="time"><span class="glyphicon glyphicon-time"></span> 08:00</p>
              </div>
            </a>
          </li>
          <li>
            <a class="media">
              <div class="media-left">
                <div>
                  <img class="media-object" src="/photo.jpg" alt="Photo">
                </div>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading">Chat 8</h4>
                <p><span>Me</span> : <span>Lalalalalala</span></p>
                <p class="time"><span class="glyphicon glyphicon-time"></span> 08:00</p>
              </div>
            </a>
          </li>
          <li>
            <a class="media">
              <div class="media-left">
                <div>
                  <img class="media-object" src="/photo.jpg" alt="Photo">
                </div>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading">Chat 9</h4>
                <p><span>Me</span> : <span>Lalalalalala</span></p>
                <p class="time"><span class="glyphicon glyphicon-time"></span> 08:00</p>
              </div>
            </a>
          </li>
          <li>
            <a class="media">
              <div class="media-left">
                <div>
                  <img class="media-object" src="/photo.jpg" alt="Photo">
                </div>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading">Chat 10</h4>
                <p><span>Me</span> : <span>Lalalalalala</span></p>
                <p class="time"><span class="glyphicon glyphicon-time"></span> 08:00</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
    </div>
  </div>
</template>
