<template name="accountDeactivate">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-4"></div>
                <div class="col-sm-8 col-md-4">
                    <form class="form-simple">
                        <div class="form-group form-group-lg">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group form-group-lg">
                            <label for="password" class="sr-only">Sandi</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Sandi">
                        </div>
                        <div class="form-group form-group-lg">
                            <label for="report-problem" class="sr-only">Jelaskan Alasan Anda</label>
                            <textarea class="form-control auto-size" id="report-problem" placeholder="Jelaskan Alasan Anda *"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-block btn-default btn-gloom">Kirim</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2 col-md-4"></div>
            </div>
        </div>
    </div>
</template>