<template name="businessDetail">
    <h3 class="text-thin text-center">Business Detail</h3>
    <img src="images/profile_bar.png"><br/>
<!--    <img src="images/profile_text.png">-->
    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="padding-top: 20px;">
                <img src="images/produk1.png" width="100%">
            </div>
            <div class="col-sm-3" style="padding-top: 20px;">
                <img src="images/produk2.png" width="100%">
            </div>
            <div class="col-sm-3" style="padding-top: 20px;">
                <img src="images/produk3.png" width="100%">
            </div>
            <div class="col-sm-3" style="padding-top: 20px;">
                <img src="images/produk4.png" width="100%">
            </div>
        </div>
    </div>
</template>