<template name="changeCover">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="row">
				<div class="col-xs-12">
					<div class="img-container">
						<img id="image" src="/images/default-2.png" alt="Picture" width="100%" data-aspect-ratio="3/1">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="crop-acts">
						<label class="btn btn-lg btn-default btn-gloom btn-upload" for="inputImage">
							<input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
							<span class="icon ion-image"></span> Pilih Gambar
						</label>
						<button type="button" class="btn btn-lg btn-default btn-gloom btn-rotate" data-method="rotate" data-option="90"><span class="icon ion-ios-loop-strong"></span> Putar</button>
						<button type="button" class="btn btn-lg btn-default btn-gloom btn-crop" data-method="getCroppedCanvas" data-option="{ &quot;width&quot;: 480, &quot;height&quot;: 160, &quot;mediaType&quot;: &quot;1&quot; }"><span class="icon icon ion-ios-upload-outline"></span> Unggah</button>
						<button type="button" class="btn btn-default btn-gloom btn-none btn-disable" data-method="disable">Disable</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
</template>
