<template name="chatDetail">
	<div class="row">
		<div class="col-md-4 hidden-xs">
			<div class="biz-card">
				<a class="item">
					<div class="cover">
						<img src="/images/cloudinary/Covers/Catering.jpg" alt="Catering" class="img-responsive">
					</div>
					<div class="post">
						<div class="photo">
							<img src="/images/cloudinary/Logos/Catering.jpg" alt="Catering" class="img-responsive">
						</div>
						<div class="stats">
							<ul class="list-inline">
								<li><p><span class="fa fa-eye icon"></span> <b>124</b></p></li>
								<li><p><span class="fa fa-user icon"></span> <b>56</b></p></li>
								<li><p><span class="fa fa-star icon"></span> <b>17</b></p></li>
							</ul>
						</div>
					</div>
					<div class="intro">
						<h4>Jakarta Catering</h4>
						<p>Jakarta Catering Service. Besar atau kecil, sederhana atau mewah. Berpengalaman di catering profesional sejak Tahun 2000.</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 visible-xs">
			<div class="biz-chat-head">
				<div class="row">
					<div class="col-xs-12">
						<a class="ion-ios-arrow-back back" onclick="window.history.back()"></a>
						<h4><img src="/images/cloudinary/Logos/Catering.jpg" alt="Catering" class="img-responsive"> Jakarta Catering</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="chat">
				<div class="group-chat-bubbles">
					<ul class="list-unstyled">
						<li><div class="chat-bubble title"><p>Selasa, 13 September</p></div></li>
						<li><div class="chat-bubble right"><p>Hai, Jakarta Catering <span>17:50</span></p></div></li>
						<li><div class="chat-bubble right"><p>Saya mau pesen catering untuk acara pernikahan Saya <span>17:52</span></p></div></li>
						<br>
						<li><div class="chat-bubble left"><p class="person">Jakarta Catering</p><p>Selamat, sore Mbak <span>18:00</span></p></div></li>
						<li><div class="chat-bubble left"><p class="person">Jakarta Catering</p><p>Kapan Mbak akan melakukan acaranya pernikahannya ? <span>18:02</span></p></div></li>
						<br>
						<li><div class="chat-bubble right"><p>Hari Sabtu, Tanggal 20 Maret 2016 <span>18:02</span></p></div></li>
						<br>
						<li><div class="chat-bubble left"><p class="person">Jakarta Catering</p><p>Baik, lalu Menu Cateringnya Mbak dapat memilih di daftar produk kami di Bisnis Page Kami  <span>18:04</span></p></div></li>
						<br>
						<li><div class="chat-bubble right"><p>Ok, Saya sudah tentukan Menu Cateringnya <span>18:07</span></p></div></li>
						<li><div class="chat-bubble right"><p>Saya pilih Paket Mewah <span>19:00</span></p></div></li>
						<br>
						<li><div class="chat-bubble left"><p class="person">Jakarta Catering</p><p>Oke dengan Paket Mewah, dengan kisaran makanan untuk berapa Orang ? <span>19:07</span></p></div></li>
						<br>
						<li><div class="chat-bubble right"><p>300 - 350 Orang <span>19:08</span></p></div></li>
						<br>
						<li><div class="chat-bubble left"><p class="person">Jakarta Catering</p><p>Baik dengan kisaran 300 - 350 Orang, dengan alamat Mbak ? <span>19:07</span></p></div></li>
						<br>
						<li><div class="chat-bubble right"><p>Jl. Tiga Batu 1 No. 22, RT. 02, RW. 02, Kec. Menteng Kel. Menteng Jakarta Pusat, 10301 <span>19:08</span></p></div></li>
						<br>
						<li><div class="chat-bubble left"><p class="person">Jakarta Catering</p><p>Oke berarti Paket Mewah untuk kisaran makanan unutk 300 - 350 Orang pada Hari Sabtu, Tanggal 20 Maret 2016, dengan alamat Jl. Tiga Batu 1 No. 22, RT. 02, RW. 02, Kec. Menteng Kel. Menteng Jakarta Pusat, 10301 <span>08:00</span></p></div></li>
						<li><div class="chat-bubble left"><p class="person">Jakarta Catering</p><p>Ada lagi yang kurang Mbak ? <span>08:01</span></p></div></li>
						<br>
						<li><div class="chat-bubble right"><p>Mungkin itu aja dulu Mbak <span>08:05</span></p></div></li>
						<br>
						<li><div class="chat-bubble left"><p class="person">Jakarta Catering</p><p>Baik Mbak, besok karyawan kami akan meminta pembayarannya di alamat yang Mbak berikan tersebut <span>08:05</span></p></div></li>
						<br>
						<li><div class="chat-bubble right"><p>Baik, ditunggu  <span>09:30</span></p></div></li>
						<br>
						<li><div class="chat-bubble left"><p class="person">Jakarta Catering</p><p>Terima Kasih juga telah memesan Jasa Kami <span>09:40</span></p></div></li>
					</ul>
				</div>
				<div class="chat-input">
					<form class="form-simple">
						<div class="form-group">
							<label for="chat-input" class="sr-only">Chat Input</label>
							<input type="text" class="form-control" id="chat-input" placeholder="Ketik sesuatu ..." autofocus>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-lg btn-default">
								<i class="fa fa-paper-plane"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>