<template name="createBusiness">
    <div class="col-sm-4 col-sm-offset-4">
        <form action="newDashboard">
          <div class="form-group">
            <label for="">Nama Bisnis</label>
            <input type="email" class="form-control" id="" placeholder="Nama Bisnis">
          </div>
          <div class="form-group">
            <label for="">Deskripsi Bisnis</label>
            <textarea class="form-control" rows="3" placeholder="Deskripsi Bisnis"></textarea>
          </div>
          <button type="submit" class="btn btn-default btn-block">Submit</button>
        </form>    
    </div>
        
</template>