<template name="createProduct">
    <div class="col-sm-4 col-sm-offset-4">
        <form action="newDashboard">
          <div class="form-group">
            <label for="">Nama </label>
            <input type="email" class="form-control" id="" placeholder="Nama">
          </div>
          <div class="form-group">
            <label for="">Deskripsi</label>
            <textarea class="form-control" rows="3" placeholder="Deskripsi"></textarea>
          </div>
          <div class="form-group">
            <label for="">Image File</label>
            <input type="file" id="">
          </div>
          <button type="submit" class="btn btn-default btn-block">Submit</button>
        </form>
    </div>
</template>