<template name="dashboard">
	<div class="row">
		<div class="col-md-4">
			<div class="biz-card">
				<a href="/dashboardEdit" class="item">
					<div class="cover">
						<img src="/images/cloudinary/Covers/Wedding.jpg" alt="Wedding" class="img-responsive">
					</div>
					<div class="post">
						<div class="photo">
							<img src="/images/cloudinary/Logos/Wedding.jpg" alt="Wedding" class="img-responsive">
						</div>
						<div class="stats">
							<ul class="list-inline">
								<li><p><span class="fa fa-eye icon"></span> <b>124</b></p></li>
								<li><p><span class="fa fa-user icon"></span> <b>56</b></p></li>
								<li><p><span class="fa fa-star icon"></span> <b>17</b></p></li>
							</ul>
						</div>
					</div>
					<div class="intro">
						<h4>One Way Event Organizer</h4>
						<p>Tim kami siap untuk mendengarkan keinginan dan kebutuhan kapan saja, sepanjang seluruh proses sampai hari besar Anda.</p>
					</div>
				</a>
			</div>
			<div class="biz-actions">
				<div class="row">
					<div class="col-xs-12">
						<a href="/dashboardEmpty" class="btn btn-default btn-block" role="button">
							<span>Dashboard Empty</span>
						</a>
					</div>
				</div>
			</div>
			<div class="biz-links">
				<ul class="list-unstyled">
					<li>
						<a class="item" href="changePassword">Ganti Sandi</a>
					</li>
					<li>
						<a class="item" href="accountVerify">Verifikasi Akun</a>
					</li>
					<li>
						<a class="item" href="accountDeactivate">Tutup Akun</a>
					</li>
					<li>
						<a class="item" href="reportProblem">Laporkan Masalah</a>
					</li>
					<li>
						<a class="item" href="termsConditions">Syarat dan Ketentuan</a>
					</li>
					<li>
						<a class="item" href="privacyPolicy">Kebijakan Kerahasiaan</a>
					</li>
					<li>
						<p class="item auxy"><span>Versi</span> <span class="pull-right">1.0</span></p>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="biz-chats">
				<ul class="list-unstyled">
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="https://res.cloudinary.com/gacloud/image/upload/Logos/Random/logo_11.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 1</h4>
								<p><span>ASCO Automotive</span> : <span>Lalalalalala</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="https://res.cloudinary.com/gacloud/image/upload/Logos/Random/logo_126.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 2</h4>
								<p><span>KNAUF</span> : <span>Lalalalalala</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="https://res.cloudinary.com/gacloud/image/upload/Logos/Random/logo_127.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 3</h4>
								<p><span>Kdot</span> : <span>Yeah</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="https://res.cloudinary.com/gacloud/image/upload/Logos/Random/logo_133.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 4</h4>
								<p><span>Meiji</span> : <span>Yehehehe</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="https://res.cloudinary.com/gacloud/image/upload/Logos/Random/logo_136.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 5</h4>
								<p><span>Michael Page</span> : <span>Hohohoho</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="https://res.cloudinary.com/gacloud/image/upload/Logos/Random/logo_132.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 6</h4>
								<p><span>Medco Energi</span> : <span>Hai</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="https://res.cloudinary.com/gacloud/image/upload/Logos/Random/logo_144.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 7</h4>
								<p><span>Novell</span> : <span>Hellow</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="https://res.cloudinary.com/gacloud/image/upload/Logos/Random/logo_146.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 8</h4>
								<p><span>W.S.</span> : <span>Reeeh</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="https://res.cloudinary.com/gacloud/image/upload/Logos/Random/logo_147.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 9</h4>
								<p><span>Orient</span> : <span>Lelelele</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="https://res.cloudinary.com/gacloud/image/upload/Logos/Random/logo_149.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 10</h4>
								<p><span>Panorama Tours</span> : <span>Hey</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6 col-sm-4">
			<div class="biz-chats">
				<ul class="list-unstyled">
					<li>
						<a href="businessDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="https://res.cloudinary.com/gacloud/image/upload/Logos/Random/logo_149.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Bookmarked 1</h4>
								<button class="btn btn-default" role="button">Hapus Rekomendasi</button>
							</div>
						</a>
					</li>
					<li>
						<a href="businessDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="https://res.cloudinary.com/gacloud/image/upload/Logos/Random/logo_127.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Bookmarked 2</h4>
								<button class="btn btn-default" role="button">Hapus Rekomendasi</button>
							</div>
						</a>
					</li>
					<li>
						<a href="businessDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="https://res.cloudinary.com/gacloud/image/upload/Logos/Random/logo_147.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Bookmarked 3</h4>
								<button class="btn btn-default" role="button">Hapus Rekomendasi</button>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>
