<template name="dashboard">
    <div class="container">
        <!-- column 1 -->
        <div class="col-sm-3">
            <h3 class="text-thin">My Business</h3>
            <img src="/images/card.png" width="100%">
        </div>
        <!--/column 1 -->
        
        <!-- column 2 -->
        <div class="col-sm-6">
            <h3 class="text-thin">Chat List</h3>
            <a href="chatDetail"><img src="/images/chatlist.png" width="100%"></a>
        </div>
        <!--/column 2 -->
        
        <!-- column 3 -->
        <div class="col-sm-3 hidden-xs">
            <h3 class="text-thin">Bookmarks</h3>
            <a href="businessDetail"><img src="/images/bookmark.png" width="100%"></a>
            <a href="businessDetail"><img src="/images/bookmark.png" width="100%"></a>
            <a href="businessDetail"><img src="/images/bookmark.png" width="100%"></a>
            <a href="businessDetail"><img src="/images/bookmark.png" width="100%"></a>
            <a href="businessDetail"><img src="/images/bookmark.png" width="100%"></a>
            <a href="bookmarks">See all</a>
        </div>
        <!--/column 3 -->
    </div>
</template>
