<template name="dashboard">
	<div class="row">
		<div class="col-md-4">
			<div class="biz-card">
				<a href="/dashboardEdit" class="item">
					<div class="cover">
						<img src="/images/cloudinary/Covers/Wedding.jpg" alt="Wedding" class="img-responsive">
					</div>
					<div class="post">
						<div class="photo">
							<img src="/images/cloudinary/Logos/Wedding.jpg" alt="Wedding" class="img-responsive">
						</div>
						<div class="stats">
							<ul class="list-inline">
								<li><p><span class="fa fa-eye icon"></span> <b>124</b></p></li>
								<li><p><span class="fa fa-user icon"></span> <b>56</b></p></li>
								<li><p><span class="fa fa-star icon"></span> <b>17</b></p></li>
							</ul>
						</div>
					</div>
					<div class="intro">
						<h4>One Way Event Organizer</h4>
						<p>Tim kami siap untuk mendengarkan keinginan dan kebutuhan kapan saja, sepanjang seluruh proses sampai hari besar Anda.</p>
					</div>
				</a>
			</div>
			<div class="biz-card">
				<a href="/dashboardEdit" class="item">
					<div class="cover">
						<img src="/images/cloudinary/Covers/Wedding.jpg" alt="Wedding" class="img-responsive">
					</div>
					<div class="post post-inverse">
						<div class="photo">
							<img src="/images/cloudinary/Logos/Wedding.jpg" alt="Wedding" class="img-responsive">
						</div>
						<div class="stats">
							<ul class="list-inline">
								<li><p><span class="fa fa-eye icon"></span> <b>124</b></p></li>
								<li><p><span class="fa fa-user icon"></span> <b>56</b></p></li>
								<li><p><span class="fa fa-star icon"></span> <b>17</b></p></li>
							</ul>
						</div>
					</div>
					<div class="intro">
						<h4>One Way Event Organizer</h4>
						<p>Tim kami siap untuk mendengarkan keinginan dan kebutuhan kapan saja, sepanjang seluruh proses sampai hari besar Anda.</p>
					</div>
				</a>
			</div>
			<div class="biz-actions">
				<div class="row">
					<div class="col-xs-6">
						<a class="btn btn-primary btn-block" role="button">
							<span class="sr-only">Chat</span>
							<span class="fa fa-comment icon"></span>
						</a>
					</div>
					<div class="col-xs-6">
						<a class="btn btn-warning btn-block" role="button">
							<span class="sr-only">Bookmark</span>
							<span class="fa fa-star icon"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="biz-actions">
				<div class="row">
					<div class="col-xs-6">
						<a class="btn btn-success btn-block active" role="button">
							<span class="sr-only">Chat</span>
							<span class="fa fa-comment icon"></span>
						</a>
					</div>
					<div class="col-xs-6">
						<a class="btn btn-danger btn-block active" role="button">
							<span class="sr-only">Bookmark</span>
							<span class="fa fa-star icon"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="biz-chats">
				<ul class="list-unstyled">
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="/photo.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 1</h4>
								<p><span>Me</span> : <span>Lalalalalala</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="/photo.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 2</h4>
								<p><span>Me</span> : <span>Lalalalalala</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="/photo.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 3</h4>
								<p><span>Me</span> : <span>Lalalalalala</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="/photo.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 4</h4>
								<p><span>Me</span> : <span>Lalalalalala</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="/photo.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 5</h4>
								<p><span>Me</span> : <span>Lalalalalala</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="/photo.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 6</h4>
								<p><span>Me</span> : <span>Lalalalalala</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="/photo.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 7</h4>
								<p><span>Me</span> : <span>Lalalalalala</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="/photo.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 8</h4>
								<p><span>Me</span> : <span>Lalalalalala</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="/photo.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 9</h4>
								<p><span>Me</span> : <span>Lalalalalala</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
					<li>
						<a href="chatDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="/photo.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Chat 10</h4>
								<p><span>Me</span> : <span>Lalalalalala</span></p>
								<p class="time"><span class="fa fa-clock-o icon"></span> 08:00</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="biz-chats">
				<ul class="list-unstyled">
					<li>
						<a href="businessDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="/photo.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Bisnis 1</h4>
								<button class="btn btn-default" role="button">Hapus Rekomendasi</button>
							</div>
						</a>
					</li>
					<li>
						<a href="businessDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="/photo.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Bisnis 2</h4>
								<button class="btn btn-default" role="button">Hapus Rekomendasi</button>
							</div>
						</a>
					</li>
					<li>
						<a href="businessDetail" class="media">
							<div class="media-left media-middle">
								<div>
									<img class="media-object" src="/photo.jpg" alt="Photo">
								</div>
							</div>
							<div class="media-body media-middle">
								<h4 class="media-heading">Bisnis 3</h4>
								<button class="btn btn-default" role="button">Hapus Rekomendasi</button>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>
