<template name="dashboardEmpty">
	<div class="row">
		<div class="col-md-4">
			<div class="biz-card">
				<a href="/dashboardEditEmpty" class="item">
					<div class="cover">
						<img src="/images/cloudinary/Covers/Wedding.jpg" alt="Wedding" class="img-responsive">
					</div>
					<div class="post">
						<div class="photo">
							<img src="/images/cloudinary/Logos/Wedding.jpg" alt="Wedding" class="img-responsive">
						</div>
						<div class="stats">
							<ul class="list-inline">
								<li><p><span class="fa fa-eye icon"></span> <b>124</b></p></li>
								<li><p><span class="fa fa-user icon"></span> <b>56</b></p></li>
								<li><p><span class="fa fa-star icon"></span> <b>17</b></p></li>
							</ul>
						</div>
					</div>
					<div class="intro">
						<h4>One Way Event Organizer</h4>
						<p>Tim kami siap untuk mendengarkan keinginan dan kebutuhan kapan saja, sepanjang seluruh proses sampai hari besar Anda.</p>
					</div>
				</a>
			</div>
			<div class="biz-links">
				<ul class="list-unstyled">
					<li>
						<a class="item" href="changePassword">Ganti Sandi</a>
					</li>
					<li>
						<a class="item" href="accountVerify">Verifikasi Akun</a>
					</li>
					<li>
						<a class="item" href="accountDeactivate">Tutup Akun</a>
					</li>
					<li>
						<a class="item" href="reportProblem">Laporkan Masalah</a>
					</li>
					<li>
						<a class="item" href="termsConditions">Syarat dan Ketentuan</a>
					</li>
					<li>
						<a class="item" href="privacyPolicy">Kebijakan Kerahasiaan</a>
					</li>
					<li>
						<p class="item auxy"><span>Versi</span> <span class="pull-right">1.0</span></p>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
            <center>
                <span class="ion-chatbubbles empty-state-icon"></span>
                <h3 class="text-thin less-margin-top">No Chat Activity</h3>
                <h4 class="text-thin">You can choose business and start to chat with them</h4>
                <br/>
            </center>
		</div>
		<div class="col-sm-6 col-sm-4">
			<center>
                <span class="ion-ios-bookmarks empty-state-icon"></span>
                <h3 class="text-thin less-margin-top">No Bookmarked Business</h3>
                <h4 class="text-thin">Choose business you interested with and bookmark them</h4>
                <br/>
            </center>
		</div>
	</div>
</template>