<template name="index">
	<div class="biz-search">
		<h3 class="title">Welcome to Bisnis Page</h3>
		<form>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Cari Bisnis">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"><span class="fa fa-search icon"></span></button>
				</span>
			</div>
		</form>
	</div>
	<div class="biz-result">
		<div class="row">
			<div class="col-md-4">
				<div class="biz-card">
					<a href="/businessDetail" class="item">
						<div class="cover">
							<img src="/images/cloudinary/Covers/Catering.jpg" alt="Catering" class="img-responsive">
						</div>
						<div class="post">
							<div class="photo">
								<img src="/images/cloudinary/Logos/Catering.jpg" alt="Catering" class="img-responsive">
							</div>
							<div class="stats">
								<ul class="list-inline">
									<li><p><span class="fa fa-eye icon"></span> <b>124</b></p></li>
									<li><p><span class="fa fa-user icon"></span> <b>56</b></p></li>
									<li><p><span class="fa fa-star icon"></span> <b>17</b></p></li>
								</ul>
							</div>
						</div>
						<div class="intro">
							<h4>Jakarta Catering</h4>
							<p>Jakarta Catering Service. Besar atau kecil, sederhana atau mewah. Berpengalaman di catering profesional sejak Tahun 2000.</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="biz-card">
					<a href="/businessDetail" class="item">
						<div class="cover">
							<img src="/images/cloudinary/Covers/Wedding.jpg" alt="Wedding" class="img-responsive">
						</div>
						<div class="post">
							<div class="photo">
								<img src="/images/cloudinary/Logos/Wedding.jpg" alt="Wedding" class="img-responsive">
							</div>
							<div class="stats">
								<ul class="list-inline">
									<li><p><span class="fa fa-eye icon"></span> <b>124</b></p></li>
									<li><p><span class="fa fa-user icon"></span> <b>56</b></p></li>
									<li><p><span class="fa fa-star icon"></span> <b>17</b></p></li>
								</ul>
							</div>
						</div>
						<div class="intro">
							<h4>One Way Event Organizer</h4>
							<p>Tim kami siap untuk mendengarkan keinginan dan kebutuhan kapan saja, sepanjang seluruh proses sampai hari besar Anda.</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="biz-card">
					<a href="/businessDetail" class="item">
						<div class="cover">
							<img src="/images/cloudinary/Covers/Makeup_Artist.jpg" alt="Makeup Artist" class="img-responsive">
						</div>
						<div class="post">
							<div class="photo">
								<img src="/images/cloudinary/Logos/Makeup_Artist.jpg" alt="Makeup Artist" class="img-responsive">
							</div>
							<div class="stats">
								<ul class="list-inline">
									<li><p><span class="fa fa-eye icon"></span> <b>124</b></p></li>
									<li><p><span class="fa fa-user icon"></span> <b>56</b></p></li>
									<li><p><span class="fa fa-star icon"></span> <b>17</b></p></li>
								</ul>
							</div>
						</div>
						<div class="intro">
							<h4>Jakarta Makeup</h4>
							<p>Bagian Terbaik kami adalah perusahaan Makeup Mobile. Kami akan melakukan perjalanan ke setiap lokasi</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="biz-card">
					<a href="/businessDetail" class="item">
						<div class="cover">
							<img src="/images/cloudinary/Covers/Wedding.jpg" alt="Wedding" class="img-responsive">
						</div>
						<div class="post">
							<div class="photo">
								<img src="/images/cloudinary/Logos/Wedding.jpg" alt="Wedding" class="img-responsive">
							</div>
							<div class="stats">
								<ul class="list-inline">
									<li><p><span class="fa fa-eye icon"></span> <b>124</b></p></li>
									<li><p><span class="fa fa-user icon"></span> <b>56</b></p></li>
									<li><p><span class="fa fa-star icon"></span> <b>17</b></p></li>
								</ul>
							</div>
						</div>
						<div class="intro">
							<h4>One Way Event Organizer</h4>
							<p>Tim kami siap untuk mendengarkan keinginan dan kebutuhan kapan saja, sepanjang seluruh proses sampai hari besar Anda.</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="biz-card">
					<a href="/businessDetail" class="item">
						<div class="cover">
							<img src="/images/cloudinary/Covers/Makeup_Artist.jpg" alt="Makeup Artist" class="img-responsive">
						</div>
						<div class="post">
							<div class="photo">
								<img src="/images/cloudinary/Logos/Makeup_Artist.jpg" alt="Makeup Artist" class="img-responsive">
							</div>
							<div class="stats">
								<ul class="list-inline">
									<li><p><span class="fa fa-eye icon"></span> <b>124</b></p></li>
									<li><p><span class="fa fa-user icon"></span> <b>56</b></p></li>
									<li><p><span class="fa fa-star icon"></span> <b>17</b></p></li>
								</ul>
							</div>
						</div>
						<div class="intro">
							<h4>Jakarta Makeup</h4>
							<p>Bagian Terbaik kami adalah perusahaan Makeup Mobile. Kami akan melakukan perjalanan ke setiap lokasi</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="biz-card">
					<a href="/businessDetail" class="item">
						<div class="cover">
							<img src="/images/cloudinary/Covers/Catering.jpg" alt="Catering" class="img-responsive">
						</div>
						<div class="post">
							<div class="photo">
								<img src="/images/cloudinary/Logos/Catering.jpg" alt="Catering" class="img-responsive">
							</div>
							<div class="stats">
								<ul class="list-inline">
									<li><p><span class="fa fa-eye icon"></span> <b>124</b></p></li>
									<li><p><span class="fa fa-user icon"></span> <b>56</b></p></li>
									<li><p><span class="fa fa-star icon"></span> <b>17</b></p></li>
								</ul>
							</div>
						</div>
						<div class="intro">
							<h4>Jakarta Catering</h4>
							<p>Jakarta Catering Service. Besar atau kecil, sederhana atau mewah. Berpengalaman di catering profesional sejak Tahun 2000.</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="biz-card">
					<a href="/businessDetail" class="item">
						<div class="cover">
							<img src="/images/cloudinary/Covers/Makeup_Artist.jpg" alt="Makeup Artist" class="img-responsive">
						</div>
						<div class="post">
							<div class="photo">
								<img src="/images/cloudinary/Logos/Makeup_Artist.jpg" alt="Makeup Artist" class="img-responsive">
							</div>
							<div class="stats">
								<ul class="list-inline">
									<li><p><span class="fa fa-eye icon"></span> <b>124</b></p></li>
									<li><p><span class="fa fa-user icon"></span> <b>56</b></p></li>
									<li><p><span class="fa fa-star icon"></span> <b>17</b></p></li>
								</ul>
							</div>
						</div>
						<div class="intro">
							<h4>Jakarta Makeup</h4>
							<p>Bagian Terbaik kami adalah perusahaan Makeup Mobile. Kami akan melakukan perjalanan ke setiap lokasi</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="biz-card">
					<a href="/businessDetail" class="item">
						<div class="cover">
							<img src="/images/cloudinary/Covers/Catering.jpg" alt="Catering" class="img-responsive">
						</div>
						<div class="post">
							<div class="photo">
								<img src="/images/cloudinary/Logos/Catering.jpg" alt="Catering" class="img-responsive">
							</div>
							<div class="stats">
								<ul class="list-inline">
									<li><p><span class="fa fa-eye icon"></span> <b>124</b></p></li>
									<li><p><span class="fa fa-user icon"></span> <b>56</b></p></li>
									<li><p><span class="fa fa-star icon"></span> <b>17</b></p></li>
								</ul>
							</div>
						</div>
						<div class="intro">
							<h4>Jakarta Catering</h4>
							<p>Jakarta Catering Service. Besar atau kecil, sederhana atau mewah. Berpengalaman di catering profesional sejak Tahun 2000.</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="biz-card">
					<a href="/businessDetail" class="item">
						<div class="cover">
							<img src="/images/cloudinary/Covers/Wedding.jpg" alt="Wedding" class="img-responsive">
						</div>
						<div class="post">
							<div class="photo">

								<img src="/images/cloudinary/Logos/Wedding.jpg" alt="Wedding" class="img-responsive">
							</div>
							<div class="stats">
								<ul class="list-inline">
									<li><p><span class="fa fa-eye icon"></span> <b>124</b></p></li>
									<li><p><span class="fa fa-user icon"></span> <b>56</b></p></li>
									<li><p><span class="fa fa-star icon"></span> <b>17</b></p></li>
								</ul>
							</div>
						</div>
						<div class="intro">
							<h4>One Way Event Organizer</h4>
							<p>Tim kami siap untuk mendengarkan keinginan dan kebutuhan kapan saja, sepanjang seluruh proses sampai hari besar Anda.</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>
