<template name="index">
    <h3 class="text-thin text-center" style="padding-top: 20px">Welcome to bisnispage</h3> 
    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="padding-top: 20px;">
                <a href="businessDetail"><img src="images/card.png" width="100%"></a>
            </div>
            <div class="col-sm-3" style="padding-top: 20px;">
                <a href="businessDetail"><img src="images/card2.png" width="100%"></a>
            </div>
            <div class="col-sm-3" style="padding-top: 20px;">
                <a href="businessDetail"><img src="images/card3.png" width="100%"></a>
            </div>
            <div class="col-sm-3" style="padding-top: 20px;">
                <a href="businessDetail"><img src="images/card2.png" width="100%"></a>
            </div>
        </div>
    </div>
</template>
