<template name="newDashboard">
    <div class="row">
		<div class="col-md-4">
			<div class="biz-card">
				<a class="item">
					<div class="cover">
						<img src="/images/cloudinary/Covers/Wedding.jpg" alt="Wedding" class="img-responsive">
					</div>
					<div class="post">
						<div class="photo">
							<img src="/images/cloudinary/Logos/Wedding.jpg" alt="Wedding" class="img-responsive">
						</div>
					</div>
					<div class="intro">
						<h4>One Way Event Organizer</h4>
						<p>Tim kami siap untuk mendengarkan keinginan dan kebutuhan kapan saja, sepanjang seluruh proses sampai hari besar Anda.</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-8">
			<div class="biz-products" style="padding-bottom: 80px;">
				<div id="grid-gallery" class="grid-gallery">
					<h3 class="text-thin text-center">Congratulation, your first business has been created</h3>
                    <h4 class="text-thin text-center">now click the plus red button to create your first product</h4>
                    <center>
                        <a href="createProduct" class="plus-button bakcground-red">
                            <span class="ion-plus-circled"></span>
                        </a>
                    </center>
                    
                    <section class="grid-wrap">
						<ul class="grid">
							<li class="grid-sizer"></li>
							
							<!-- <li>
								<figure>
									<img src="/images/long.png" alt="Long"/>
									<figcaption><h3>Photo booth skateboard</h3><p>Vinyl squid ex High Life. Paleo Neutra nulla master cleanse, Helvetica et enim nesciunt esse.</p></figcaption>
								</figure>
							</li> -->
						</ul>
					</section>
					<section class="slideshow">
						<ul>
							
							<!-- <li>
								<figure>
									<img src="/images/long.png" alt="Long"/>
									<figcaption>
										<h3>Photo booth skateboard</h3>
										<p>Thundercats pour-over four loko skateboard Brooklyn, Etsy sriracha leggings dreamcatcher narwhal authentic 3 wolf moon synth Portland. Shabby chic photo booth Blue Bottle keffiyeh, McSweeney's roof party Carles.</p>
									</figcaption>
								</figure>
							</li> -->
						</ul>
						<nav>
							<span class="fa fa-chevron-left icon nav-prev"></span>
							<span class="fa fa-chevron-right icon nav-next"></span>
							<span class="fa fa-times icon nav-close"></span>
						</nav>
						<div class="info-keys icon">Navigate with arrow keys</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</template>