<template name="reportProblem">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-4"></div>
                <div class="col-sm-8 col-md-4">
                    <form class="form-simple">
                        <div class="form-group form-group-lg">
                            <label for="report-problem" class="sr-only">Laporkan Masalah</label>
                            <textarea class="form-control auto-size" id="report-problem" placeholder="Jelaskan Masalah Anda"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-block btn-default btn-gloom">Kirim</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2 col-md-4"></div>
            </div>
        </div>
    </div>
</template>