<template name="searchEmpty">
	<div class="biz-search">
		<h3 class="title">Welcome to Bisnis Page</h3>
		<form>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Cari Bisnis">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"><span class="fa fa-search icon"></span></button>
				</span>
			</div>
		</form>
	</div>
	<div class="biz-result">
		<div class="row">
            <center>
                <span class="ion-card empty-state-icon"></span>
                <h3 class="text-thin less-margin-top">No bisnis name matched with your search keyword</h3>
                <h4 class="text-thin">Wont you try again?</h4>
                <br/>
            </center>
		</div>
	</div>
</template>