.biz-card {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  border: 1px solid #E7E7E7;
  border-radius: 6px;
  background-color: #FFFFFF;
  overflow: hidden;
  position: relative;
  max-width: 450px;
}
.biz-card .item {
  color: inherit;
}
.biz-card .item:hover,
.biz-card .item:focus {
  text-decoration: none;
}
.biz-card .cover {
  background-color: #F5F5F5;
  /* height: 88px; */
  overflow: hidden;
}
.biz-card .post {
  position: relative;
  height: 40px;
}
.biz-card .photo {
  border: 4px solid #FFFFFF;
  border-radius: 8px;
  position: absolute;
  top: -40px;
  left: 8px;
  overflow: hidden;
}
.biz-card .photo > img {
  width: 72px;
	height: 72px;
  border-radius: 2px;
}
.biz-card .stats {
  margin: 4px 10px;
  float: right;
}
.biz-card .stats ul {
  margin-bottom: 0;
}
.biz-card .stats ul > li {
  margin-right: -2px;
  margin-left: -2px;
  padding-right: 0;
  padding-left: 0;
  border: 1px solid #E7E7E7;
}
.biz-card .stats ul > li:first-child {
  margin-right: -3px;
}
.biz-card .stats p {
  margin-bottom: 0;
  padding: 5px 10px;
  color: #757575;
  background-color: #FFFFFF;
}
.biz-card .stats b {
  color: #333333;
}
.biz-card .stats .icon {
  margin-right: 2px;
  color: #1E88E5;
}
.biz-card .post-inverse .photo {
  right: 8px;
  left: inherit;
}
.biz-card .post-inverse .stats {
  float: left;
  margin-left: 14px;
}
.biz-card .intro {
  padding-right: 12px;
  padding-left: 12px;
}

.biz-actions {
  margin-bottom: 20px;
}
.biz-actions .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.biz-actions .btn .icon {
  font-size: 18px;
}

.biz-chats {
  margin-bottom: 20px;
  border: 1px solid #E7E7E7;
  border-radius: 6px;
  background-color: #FFFFFF;
  overflow: hidden;
  position: relative;
}
.biz-chats ul {
  margin-bottom: 0;
}
.biz-chats ul > li {
  border-bottom: 1px solid #E7E7E7;
}
.biz-chats ul > li:last-child {
  border-bottom: 0;
}
.biz-chats ul > li > a {
  color: #333;
  text-decoration: none;
}
.biz-chats .media .media-left {
  padding-right: 4px;
}
.biz-chats .media .media-object {
  margin: 8px;
  border-radius: 4px;
  width: 54px;
}
.biz-chats .media .media-body {
  padding-top: 4px;
  padding-bottom: 4px;
}
.biz-chats .media .media-heading {
  margin-top: 5px;
}
.biz-chats .media .media-body p,
.biz-chats .media .media-body .btn {
  margin-bottom: 5px;
}
.biz-chats .media .media-body .time {
  font-size: 12px;
  font-weight: 300;
  color: #757575;
}

.biz-search {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #E7E7E7;
}
.biz-search .title {
	margin-bottom: 40px;
	font-weight: 300;
	text-align: center;
}
.biz-search form {
	margin: 0 auto;
	max-width: 450px;
}

.grid-gallery {
  margin-bottom: 40px;
}
.grid-gallery .grid-wrap {
  margin: -2px;
}
.grid-gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.grid-gallery figure {
  margin: 0;
}
.grid-gallery figure img {
  display: block;
  width: 100%;
}
.grid-gallery figcaption h3 {
  margin: 0;
  padding: 0 0 0.5em;
  font-size: 18px;
}
.grid-gallery figcaption p {
  margin: 0;
}

/* Grid Styles */
.grid-gallery .grid {
  margin: 0 auto;
}
.grid-gallery .grid li {
  width: 33.33333333%;
  float: left;
  cursor: pointer;
}
.grid-gallery .grid figure {
  margin: 2px;
  border-radius: 6px;
  border: 1px solid #E7E7E7;
  overflow: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.grid-gallery .grid li:hover figure {
  opacity: 0.7;
}
.grid-gallery .grid figcaption {
  padding: 10px 15px;
  overflow: hidden;
}

/* Slideshow Styles */
.grid-gallery .slideshow {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}
.grid-gallery.slideshow-open .slideshow {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.grid-gallery .slideshow ul {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0,0,150px);
  transform: translate3d(0,0,150px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.grid-gallery .slideshow ul.animatable li {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.grid-gallery.slideshow-open .slideshow ul {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.grid-gallery .slideshow li {
  width: 660px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -330px;
  visibility: hidden;
}
.grid-gallery .slideshow li.show {
  visibility: visible;
}
.grid-gallery .slideshow li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.grid-gallery .slideshow li.current:after {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s;
}
.grid-gallery .slideshow figure {
  width: 100%;
  height: 100%;
  background: #fff;
  border: 30px solid #fff;
  overflow: auto;
}
.grid-gallery .slideshow figcaption {
  padding: 15px 20px;
}
.grid-gallery .slideshow figcaption h3 {
  font-weight: 300;
  font-size: 200%;
}

/* Navigation */
.grid-gallery .slideshow nav span {
  position: fixed;
  z-index: 1000;
  color: #59656c;
  text-align: center;
  padding: 3%;
  cursor: pointer;
  font-size: 2.2em;
}
.grid-gallery .slideshow nav span.nav-prev,
.grid-gallery .slideshow nav span.nav-next {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.grid-gallery .slideshow nav span.nav-next {
  right: 0;
}
.grid-gallery .slideshow nav span.nav-close {
  top: 0;
  right: 0;
  padding: 0.5em 1em;
  color: #59656c;
  background-color: #FFF;
  width: 80px;
  height: 60px;
}

/* Info On Arrow Key Navigation */
.grid-gallery .info-keys {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 60px;
  font-size: 8px;
  padding-top: 20px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}
.grid-gallery .info-keys:before,
.grid-gallery .info-keys:after {
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
}
.grid-gallery .info-keys:before {
  left: 10px;
  content: "\e603";
}
.grid-gallery .info-keys:after {
  right: 10px;
  content: "\e604";
}

/* Example media queries (reduce number of columns and change slideshow layout) */
@media screen and (max-width: 60em) {
  .grid-gallery .grid li {
    width: 33.33333333%;
  }
  .grid-gallery .slideshow li {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
  }
  .grid-gallery .slideshow li figure img {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
  }
  .grid-gallery .slideshow nav span,
  .grid-gallery .slideshow nav span.nav-close {
    font-size: 1.8em;
    padding: 0.3em;
  }
  .grid-gallery .slideshow nav span.nav-close {
    width: 40px;
    height: 40px;
  }
  .grid-gallery .info-keys {
    display: none;
  }
}

@media screen and (max-width: 35em) {
  .grid-gallery .grid li {
    width: 50%;
    overflow: hidden;
  }
}



/* typography */
.text-thin{font-weight: 300}

/* master mainpage */
.bs-docs-header, .bs-docs-masthead {
    position: relative;
    padding: 30px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
}

.bs-docs-masthead .bs-docs-booticon {
    margin: 0 auto 30px;
}
.bs-docs-booticon-outline {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #cdbfe3;
}
.bs-docs-booticon-lg {
    width: 144px;
    /* height: 144px; */
    font-size: 84px;
    line-height: 140px;
}
.bs-docs-booticon {
    display: block;
    font-weight: 500;
    color: #fff;
    text-align: center;
    cursor: default;
/*    background-color: #563d7c;*/
    border-radius: 15%;
}

.btn-outline-inverse:hover{
    color: #fff;
}

.btn-outline-inverse {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border-color: #fff;
}

.page-header{
    margin: 20px 0 20px;
    border-bottom: none;
}

.form-control-custom{
    background: rgba(255,255,255,0.5);
    border-radius: 0;
    border: none;
    color: #fff;
    text-align: center;
}

.form-control::-webkit-input-placeholder { color: #ccc; text-align: center}
.form-control:-moz-placeholder { color: #ccc; text-align: center}
.form-control::-moz-placeholder { color: #ccc; text-align: center}
.form-control:-ms-input-placeholder { color: #ccc; text-align: center}

.form-control-custom:focus{
    border-color: none !important;
    box-shadow: none !important;
}

.navbar-custom{
    background: rgba(255,255,255,1);
}

a.text-white{
    color: #fff;
    text-decoration: none;
}

.bs-docs-home{
    background: #002154;
}

@media (min-width: 768px){
    .bs-docs-masthead {
        padding: 80px 0;
    }
}

@media (min-width: 480px){
    .bs-docs-masthead .btn {
        width: auto;
    }
}

/* --- media queries --- */
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .search-container{
        background: red;
        width: 400px;
        margin: 8px auto;
    }

    .search-container input{
        width: 80% !important;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

/* footer nav */
.navbar-custom{
    min-height: 40px;
    padding: 0px;
}

.navbar-custom a{
    color: #9298a2;
    padding: 5px 0;
}

.navbar-custom a:focus{
    color:#002154;
}

.navbar-custom a i{
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
}

.badge-custom{
/*    padding: 5px!important;*/
    font-size: 11px;
    font-weight: normal;
    background-color: orangered;
/*    border-radius: 50%;*/
    min-width: 20px;
    height: 20px;
    line-height: 12px;
    position: absolute !important;
    top: 0px !important;
    left: 15px;
}

/* Chat */
.group-chat-bubbles ul {
  margin-bottom: 80px;
  padding-right: 8px;
  padding-left: 8px;
}
.group-chat-bubbles ul > li {
  overflow: auto;
  overflow-x: hidden;
}
.chat-bubble {
  margin-bottom: 2px;
  padding: 4px 8px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  position: relative;
  background-color: #FFF;
  font-weight: 300;
  text-align: center;
  clear: both;
}
.chat-bubble:after,
.chat-bubble:before {
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.chat-bubble:after {
  border-color: rgba(255, 255, 255, 0);
  border-width: 6px;
  margin-top: -6px;
}
.chat-bubble:before {
  border-color: rgba(224, 224, 224, 0);
  border-width: 7px;
  margin-top: -7px;
}
.chat-bubble.left,
.chat-bubble.right {
  display: block;
  text-align: left;
}
.chat-bubble.left {
  margin-left: 6px;
  margin-right: 15%;
  float: left;
}
.chat-bubble.right {
  margin-right: 6px;
  margin-left: 15%;
  float: right;
  border-color: #1F8EE5;
  background-color: #2196F3;
  color: #FFF;
}
.chat-bubble.left:after,
.chat-bubble.left:before {
  right: 100%;
}
.chat-bubble.left:after {
  border-right-color: #FFF;
}
.chat-bubble.left:before {
  border-right-color: #E0E0E0;
}
.chat-bubble.right:after,
.chat-bubble.right:before {
  left: 100%;
}
.chat-bubble.right:after {
  border-left-color: #2196F3;
}
.chat-bubble.right:before {
  border-left-color: #1F8EE5;
}
.chat-bubble.gap {
  margin-top: 8px;
}
.chat-bubble.title {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 500;
}
.chat-bubble .person {
  font-weight: 500;
}
.chat-bubble .hide {
  display: none;
}
.chat-bubble p {
  margin-bottom: 0;
}
.chat-bubble p span {
  margin-top: 6px;
  margin-left: 16px;
  float: right;
  font-size: 10px;
}

.chat-input {
  padding: 8px;
  border-top: 1px solid #E0E0E0;
  position: fixed;
  bottom: 0;
    left: 0;
    right: 0;
/*  width: 100%;*/
  background-color: #F5F5F5;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.10);
  -ms-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.10);
}
.chat-input .form-simple {
  margin-top: 0;
}
.chat-input .form-simple .form-group {
  margin-right: 44px;
    margin-bottom: 0;
}
.chat-input .form-simple .form-control {
  padding: 8px 12px;
    border: 1px solid #E0E0E0;
    -webkit-appearance: none;
    height: 38px;
    border-radius: 0;
    box-shadow: none;
}
.chat-input .form-simple .btn {
  margin: 8px;
  padding: 0px 8px;
  border: 1px solid #E0E0E0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 40px;
  width: 38px;
  height: 38px;
}
.chat-input .form-simple .icon {
  text-align: center;
  font-size: 32px;
  margin-right: 0;
}
.chat-input .form-control {
  font-weight: 300;
}
.chat-input .form-control::-moz-placeholder {
  font-weight: 300;
}
.chat-input .form-control:-ms-input-placeholder {
  font-weight: 300;
}
.chat-input .form-control::-webkit-input-placeholder {
  font-weight: 300;
}

.cog-icon:before, .cog-icon:active:before, .cog-icon:hover:before, .chat-icon:before, .chat-icon:active:before, .chat-icon:hover:before, .star-icon:before, .star-icon:active:before, .star-icon:hover:before, .search-icon:before, .search-icon:active:before, .search-icon:hover:before{
    font-size: 28px;
}

.cog-icon:before{
    content: "\f411";
    color: #929292;
}

.cog-icon:active:before, .cog-icon:hover:before{
    content: "\f412";
    color: #263147;
}

.chat-icon:before{
    content: "\f3fb";
    color: #929292;
}

.chat-icon:active:before, .chat-icon:hover:before{
    content: "\f3fc";
    color: #263147;
}

.star-icon:before{
    content: "\f4b2";
    color: #929292;
}

.star-icon:active:before, .star-icon:hover:before{
    content: "\f4b3";
    color: #263147;
}

.search-icon:before{
    content: "\f4a4";
    color: #929292;
}

.search-icon:active:before, .search-icon:hover:before{
    content: "\f4a4";
    color: #263147;
}

.text-of-icon{
    color: #929292; 
    font-size: 9px; 
    text-align: center; 
    padding: 0px; 
    margin: 0; 
    line-height: 5px;
    font-family: helvetica;
}

a p.text-of-icon:active:before, a p.text-of-icon:hover:before{
    color: #263147;
}
