.biz-card {
  margin-bottom: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  background-color: #FFF;
  overflow: hidden;
  position: relative;
}
.biz-card .cover {
  background-color: #f8f8f8;
  height: 88px;
  overflow: hidden;
}
.biz-card .photo {
  margin: -40px 12px -4px 12px;
  border: 4px solid #FFF;
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
}
.biz-card .photo > img {
  width: 72px;
  border-radius: 4px;
}
.biz-card .modes {
  display: none;
  float: right;
  margin: 4px;
}
.biz-card .intro {
  padding-right: 15px;
  padding-left: 15px;
}
.biz-card .stats ul {
  margin-bottom: 0;
}
.biz-card .stats ul > li {
  border-bottom: 1px solid #e7e7e7;
}
.biz-card .stats ul > li:first-child {
  border-top: 1px solid #e7e7e7;
}
.biz-card .stats ul > li:last-child {
  border-bottom: 0;
}
.biz-card .stats p {
  margin-bottom: 0;
  padding: 10px 15px;
}
.biz-card .stats p > span {
  float: right;
}

.biz-chats {
  margin-bottom: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  background-color: #FFF;
  overflow: hidden;
  position: relative;
}
.biz-chats ul {
  margin-bottom: 0;
}
.biz-chats ul > li {
  border-bottom: 1px solid #e7e7e7;
}
.biz-chats ul > li:last-child {
  border-bottom: 0;
}
.biz-chats ul > li > a {
  color: #333;
  text-decoration: none;
}
.biz-chats .media .media-left {
  padding-right: 8px;
}
.biz-chats .media .media-object {
  margin: 8px;
  border-radius: 4px;
  width: 72px;
}
.biz-chats .media .media-heading {
  margin-top: 5px;
}
.biz-chats .media .media-body p {
  margin-bottom: 5px;
}
.biz-chats .media .media-body .time {
  font-size: 12px;
  font-weight: 300;
  color: #777;
}
