<template name="footer">
    <div class="visible-xs-block">
        <div class="navbar navbar-default navbar-fixed-bottom navbar-custom">
            <div class="btn-group btn-group-justified" role="group">
                <a href="#" class="btn" role="button">
                    <i class="ionicons search-icon"></i>
                    <p class="text-of-icon">Search</p>
                </a>
                <a href="#" class="btn" role="button">
                    <i class="ionicons star-icon"><span class="badge badge-custom">4</span></i>
                    <p class="text-of-icon">Recommend</p>
                </a>
                <a href="#" class="btn" role="button">
                    <i class="ionicons chat-icon"><span class="badge badge-custom">4</span></i>
                    <p class="text-of-icon">Chat</p>
                </a>
                <div class="btn-group dropup">
                    <a role="button" type="button" class="btn dropdown-toggle button-custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: white;">
                      <i class="ionicons cog-icon">
                          <span class="badge badge-custom">4</span>
                      </i>
                        <p class="text-of-icon">Settings</p>
                    </a>
                    <ul class="dropdown-menu" style="right: 0;">
                        <li><a href="#">this is dropup dammit</a></li>
                        <li><a href="#">this is dropup 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>