<template name="footer">
    <div class="visible-xs-block">
        <div class="navbar navbar-default navbar-fixed-bottom navbar-custom">
            <div class="btn-group btn-group-justified" role="group">
                <a href="#" class="btn" role="button"><i class="glyphicon glyphicon-search"></i></a>
                <a href="#" class="btn" role="button"><i class="glyphicon glyphicon-star"><span class="badge badge-custom">4</span></i></a>
                <a href="#" class="btn" role="button"><i class="fa fa-comment"><span class="badge badge-custom">12</span></i></a>
                <a href="#" class="btn" role="button"><i class="glyphicon glyphicon-cog"><span class="badge badge-custom">490</span></i></a>
            </div>
        </div>
    </div>
</template>