<template name="footer2">
	<div class="footer">
		<div class="visible-xs-block">
			<div class="navbar navbar-default navbar-fixed-bottom navbar-custom">
				<div class="btn-group btn-group-justified" role="group">
					<a href="{{pathFor 'index'}}" class="btn" role="button">
						<i class="ionicons search-icon"></i>
					</a>
					<a href="{{pathFor 'bookmarks'}}" class="btn" role="button">
						<i class="ionicons star-icon"><span class="badge badge-custom">4</span></i>
					</a>
					<a href="{{pathFor 'chatList'}}" class="btn" role="button">
						<i class="ionicons chat-icon"><span class="badge badge-custom">42</span></i>
					</a>
					<a href="{{pathFor 'dashboard'}}" class="btn" role="button">
						<i class="ionicons cog-icon"><span class="badge badge-custom">4</span></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>